{## UnivIt responsable : ismail errouk #}
{% extends 'admin/base-home.html' %}

{% block title %}
Edit Student | Username: {{ username }} | #ID : {{ id }}
{% endblock title %}

{% block content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-left-primary shadow h-100 py-0 mb-4 col-10">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">

                        <div class="col-auto">
                            <i class="fas fa-camera fa-2x text-primary"></i>
                        </div>

                        <div class="col-8 ml-4">
                            <div class="h5 font-weight-bold text-primary text-uppercase mb-1"> Prendre des photos de
                                l'étudiant(e) </div>

                        </div>

                        <div class="col ml-4">
                            <div class="text-lg mb-0 text-right btn btn-primary create-data" name="take">Lancer la
                                caméra
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- video_capt -->
                <div class="card-body" id="video_capt">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header" style="display: flex; justify-content: space-between">
                        <h3 class="card-title">Modifier l'étudiant</h3>
                        <img src="/{{ student.profile_pic }}" height="150" width="200"/>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    {% comment %} Displaying the Django Form using forms.py EditStudentForm {% endcomment %}
                    <!-- {#                    {% url 'edit_student_save' id as action_path %}#}
{#                    {% include 'admin/form_template.html' with  form=form action_path=action_path button_text="Update Student" %}#} -->
                    <div class="container" style="padding: 1%">
                        <form method="post" action="{% url 'edit_student_save' student.id %}"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Prénom :</label>
                                    <input type="text" class="form-control" placeholder="Prénom" required
                                        value="{{ student.user.first_name }}" name="first_name">
                                </div>
                                <div class="col">
                                    <label>Nom :</label>
                                    <input type="text" class="form-control" placeholder="Nom" required
                                        value="{{ student.user.last_name }}" name="last_name">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Email :</label>
                                    <input type="text" class="form-control" placeholder="Email" name="email" required
                                        value="{{ student.user.email }}">
                                </div>
                            </div>
{#                            <div class="row" style="padding: 1%">#}
{#                                <div class="col">#}
{#                                    <label>Mot de passe :</label>#}
{#                                    <input type="password" class="form-control" placeholder="Mot de passe"#}
{#                                        value="{{ student.user.password }}" required name="password">#}
{#                                </div>#}
{#                            </div>#}
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>CNE :</label>
                                    <input type="text" class="form-control" placeholder="CNE" value="{{ student.cne }}"
                                        required name="cne">
                                </div>
                                <div class="col">
                                    <label>Adresse :</label>
                                    <input type="text" class="form-control" placeholder="Adresse" required
                                        value="{{ student.adresse }}" name="adresse">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Telephone :</label>
                                    <input type="text" class="form-control" placeholder="Telephone" required
                                        value="{{ student.telephone }}" name="telephone">
                                </div>
                                <div class="col">
                                    <label>Code Apogee :</label>
                                    <input type="text" class="form-control" placeholder="Code Apogee" required
                                        value="{{ student.code_apogee }}" name="code_apogee">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Chemin des Photos :</label>
                                    <input type="text" class="form-control" placeholder="Chemin des Photos" required
                                        value="{{ student.path_photos }}" name="path_photos">
                                </div>
                            </div>
                            <div class="row" style="padding: 1%">
                                <div class="col">
                                    <label>Image de profile :</label>
                                    <input type="file" class="form-control" placeholder="Image de profile"
                                        value="{{ student.profile_pic }}" name="profile_pic">
                                </div>
                            </div>
                            {# <button class="btn btn-success center" type="submit">Save & Add Group</button>#}
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-primary" type="submit">Modifier l'étudiant</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="{% url 'edit_groupe_groupes' student.id %}" method="get">
                    <button class="btn btn-warning col-4 mb-4" type="submit">Modifier le groupe</button>
                </form>

            </div>
            <!-- /.card -->

        </div>


    </div><!-- /.container-fluid -->
</section>
<input type="hidden" id="id_etud" value="{{id}}" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".create-data").click(function (e) {
            e.preventDefault();
            var str = $('input#id_etud').val() // id de l'étudiant
            console.log("id_etud " + str);
            if (str != "" && parseInt(str) > 0) {
                if ($('.video').length) {
                    $('.video').replaceWith('<div class="row video"><img src="video_feed/' + parseInt(str) + '"></div>');
                }
                else {

                    $('#video_capt').append('<div class="row video"><img src="video_feed/' + parseInt(str) + '"></div>');
                }
            }
        });


    });
</script>

{% endblock content %}